.heading{
    color: green;
    text-align: center;
    margin-top: 1rem;
}

.input-box{
    display: flex;
    justify-content: center;
}

input{
    margin: 1rem;
    padding: 10px 16px;
    border: 2px solid green;
    border-radius: 1rem;
}

.input-btn-box{
    display: flex;
    justify-content: center;
}

.input-btn{
    background-color: green;
    padding: 10px 16px;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 1rem;
}